:root {
  --bg-color: rgb(1, 0, 26);
  --main-title: #e53170;
  --subtitle-text: black;
  --card-text-color: white;
  --email-text-color: #3f9bc6;
  --card-height: 100px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

/* UTILS */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-1-3 {
  width: calc(100% / 3);
  padding: 15px;
  float: left;
  /* border: 2px dashed red; */
}

/* UTILS */

.debug {
  min-height: 80px;
  background-color: lightgray;
  /* padding: 2rem; */
  border: 2px dashed red;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

/* MAIN */

/* header */

.header {
  text-align: center;
  padding-bottom: 3rem;
}

h1 {
  color: var(--main-title);
  padding: 1.5rem 0 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.header p {
  color: var(--subtitle-text);
}

/* card */
.card-section {
  margin: -10px;
}

.card {
  max-width: 350px;
  min-height: var(--card-height);
  background-color: black;
  /* min-width: 350px; */
  margin: 5px 10px;
  box-shadow: 0px 2px 13px 0px gray;
  font-size: 0.7rem;
}

.card-img,
.card-text {
  float: left;
  height: var(--card-height);
}

.card-img {
  width: var(--card-height);
}

img {
  height: 100%;
  display: block;
}

.card-text {
  min-width: calc(100% - var(--card-height));
  margin: 0px;
  padding-left: 0.5rem;
  color: var(--card-text-color);
  line-height: calc(var(--card-height) / 3);
  vertical-align: middle;
}

.card-text .email {
  color: var(--email-text-color);
}
